<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pregatit.rateit">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RateIT">
        <activity
            android:name=".SettingsPageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="true"
            android:theme="@style/Theme.RateIT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryProductsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true" />
        <activity
            android:name=".ProductCatalogActivity"
            android:exported="true" />
        <activity
            android:name=".SelectionHelpActivity"
            android:exported="false" />
        <activity
            android:name=".InsertProductActivity"
            android:exported="true" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />
    </application>

</manifest>